body {
	background-color:#fff;
	font-family:sans-serif;
}

div#wrapper {
	max-width: 800px;
	margin: 30px auto 0;
	padding:10px;
	border-radius:6px;
	font-size: 14px;
	line-height: 1.5;
	background-color:#eee
}

div#wrapper h1 {
	font-size:20px;
	background-color:#fff;
	padding:5px
}

div#wrapper div#claim input#name {
	font-size:16px;
	margin-bottom: 20px;
	border:1px double #ddd;
	border-radius:0 6px 6px 0;
	line-height:140%;
	padding:10px;
	width:87%
}

div#wrapper div#claim input#name:focus {
	border:1px double #ccc;
	outline:none
}

div#wrapper div#claim span {
	display:inline-block;
	width:6%;
	padding:12px;
	border-radius:6px 0 0 6px;
	background-color:#ddd;
	margin-right:3px;
	text-align:right;
	color:#444;
	font-weight:bold
}

div#wrapper #wlink {
	text-align:left;
	margin-top:10px;
	background-color:#ddd;
	width:97%;
	padding:10px;
	border-top:10px ridge #ddd;
	border-radius:0 0 6px 6px;
	display:none
}

div#wrapper #link {
	color:blue;
	letter-spacing:2px
}

